.chathistory {
    background-color: #15213a;
    margin: 15px;
    height: 90vh;
    overflow: auto;
    border-radius: 5px;
    text-align: left;
    padding-left: 25px;
}

.messages {
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding: 4px;
}

.messages:hover {
    background-color: #0d1424;
}