.signin-box {
    background-color: #0E1628;
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.SignInTxt {
    color: aliceblue;
}

.signinBtns {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 10px;
    min-width: 12rem ;
    min-height: 3rem;
}

.SignOut {
    max-height: 3rem;
    max-width: 8rem;
}