.signin-box {
    background-color: #00000081;
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.signinBtns {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 10px;
}