:root {
  background-color: #1D2D50;
  color: #f0f8ff;
}

.mainapp {
  text-align: center;
  display: grid;
  grid-template-areas:
    "nav  main  list";
  grid-template-columns: 1fr 18fr 4fr;
  height: 100vh;
  background-color: #1D2D50;
}

.app {
  grid-area: main;
}