#main_area {
  display: grid;
  grid-template-areas:
    "loc"
    "chat_area";
  grid-template-rows: 32px;
  margin-right: 8px;
}

.chat-loc {
  grid-area: loc;
  font-family: Anonymous Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: hsl(0, 0%, 44%);

  &:hover {
    color: hsl(0, 0%, 58%);
  }
}

.chat-div {
  grid-area: chat_area;

  color: aliceblue;
  background-color: hsl(0, 0%, 0%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: grid;
  grid-template-areas:
    "chat"
    "typIndc"
    "msgBox";
  grid-template-rows: 12.5fr 0.5fr 50px;

  .flex_c_c {
    display: grid;
    grid-template-areas: "chatzone channelzone";
    grid-template-columns: 6fr 2fr;
    width: 100%;
  }

  .channels {
    margin: 16px;
    margin-bottom: 0px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 8%);
    // min-width: 200px;
    .channelName {
      background-color: hsl(0, 0%, 15%);
      border-radius: 8px;
      padding: 5px;
      margin: 5px;
      &:hover {
        background-color: hsl(0, 0%, 20%);
      }
    }
  }

  .chatHistory {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: hsla(0, 0%, 33%, 0);
    }
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 10%, 0.486);
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: hsla(0, 0%, 37%, 0.315);
      width: 8px;
    }
  }

  .message-div {
    margin-bottom: 0px;
    margin-left: 0.5rem;
    // padding: 0.3rem;
    border-radius: 5px;
    &:hover {
      background-color: hsl(0, 0%, 9.5%);
      box-shadow: 0 0 5px 1px hsl(0, 0%, 9.5%);
      .message-div-pfpgrid {
        .chatpfp {
          box-shadow: 0 0 5px 1px hsl(0, 0%, 2%);
        }
      }
    }
    .message-div-pfpgrid {
      display: grid;
      padding-top: 7px;
      grid-template-areas:
        "pfp  username"
        "pfp  msg";
      grid-template-columns: 3.5rem;
      grid-template-rows: 1.7rem;
      align-items: end;
      .chatpfp {
        border-radius: 50%;
        height: 3rem;
        position: relative;
        top: 20px;
      }
      .pfp-crop {
        object-fit: cover;
        aspect-ratio: 200/200;
      }
      .username {
        grid-area: username;
      }
      .message {
        margin: 0;
        grid-area: msg;
        // padding-left: 3.5rem;
      }
    }
    .message-cons {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-left: 3.5rem;
    }
  }

  .typing-indicator {
    background-color: hsl(0, 0%, 10%);
    margin: 9px;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -3px;
    // margin-left: 13px;
    // margin-right: 13px;
  }

  .msg-form {
    padding: 9px;
    padding-top: 0;
    width: auto;
    .inputmsg {
      width: -webkit-fill-available;
      height: 40px;
      background-color: hsl(0, 0%, 15%);
      caret-color: hsl(208, 100%, 97%);
      color: hsl(0, 0%, 80%);
      border: hsla(0, 0%, 0%, 0);
      height: 3.8vh;
      font-size: 1.8vh;
      padding-left: 9px;
      padding-right: 9px;
      border-radius: 4px;
      &:focus-visible {
        background-color: hsl(0, 0%, 22%);
        outline: none;
      }
      &::selection {
        background: hsl(25, 53%, 36%);
      }
    }
  }
}
